<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDoudizhuService" closeTimeout="00:30:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" />
                <binding name="WSDualHttpBinding_IStartGame" closeTimeout="00:30:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" />
                <binding name="WSDualHttpBinding_IDeterminteLandlord" closeTimeout="00:30:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" />
                <binding name="WSDualHttpBinding_IUpdateGame" closeTimeout="00:30:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" />
                <binding name="WSDualHttpBinding_IGameOver" closeTimeout="00:30:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" />
                <binding name="WSDualHttpBinding_IUpdateLandlordCard" closeTimeout="00:30:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" />
                <binding name="WSDualHttpBinding_ITimeCounterDown" closeTimeout="00:30:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" />
                <binding name="WSDualHttpBinding_ISetCancelPlayerReady" />
                <binding name="WSDualHttpBinding_ILoadLobby" />
                <binding name="WSDualHttpBinding_IPlayerJoinLeaveRoom" />
                <binding name="WSDualHttpBinding_IUpdateChatter" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DoudizhuServer/CDoudizhuService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDoudizhuService"
                contract="DoudizhuService.IDoudizhuService" name="WSDualHttpBinding_IDoudizhuService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DoudizhuServer/CDoudizhuService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ILoadLobby"
                contract="DoudizhuService.ILoadLobby" name="WSDualHttpBinding_ILoadLobby">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DoudizhuServer/CDoudizhuService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISetCancelPlayerReady"
                contract="DoudizhuService.ISetCancelPlayerReady" name="WSDualHttpBinding_ISetCancelPlayerReady">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DoudizhuServer/CDoudizhuService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IPlayerJoinLeaveRoom"
                contract="DoudizhuService.IPlayerJoinLeaveRoom" name="WSDualHttpBinding_IPlayerJoinLeaveRoom">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DoudizhuServer/CDoudizhuService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IStartGame"
                contract="DoudizhuService.IStartGame" name="WSDualHttpBinding_IStartGame">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DoudizhuServer/CDoudizhuService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDeterminteLandlord"
                contract="DoudizhuService.IDeterminteLandlord" name="WSDualHttpBinding_IDeterminteLandlord">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DoudizhuServer/CDoudizhuService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IUpdateGame"
                contract="DoudizhuService.IUpdateGame" name="WSDualHttpBinding_IUpdateGame">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DoudizhuServer/CDoudizhuService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITimeCounterDown"
                contract="DoudizhuService.ITimeCounterDown" name="WSDualHttpBinding_ITimeCounterDown">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DoudizhuServer/CDoudizhuService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IGameOver"
                contract="DoudizhuService.IGameOver" name="WSDualHttpBinding_IGameOver">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DoudizhuServer/CDoudizhuService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IUpdateLandlordCard"
                contract="DoudizhuService.IUpdateLandlordCard" name="WSDualHttpBinding_IUpdateLandlordCard">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DoudizhuServer/CDoudizhuService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IUpdateChatter"
                contract="DoudizhuService.IUpdateChatter" name="WSDualHttpBinding_IUpdateChatter">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>